html {
  scroll-behavior: smooth;
}

nav {
  padding-left: 50px !important;
  padding-right: 50px !important;
  border-bottom: 5px solid #f47621;
}

#logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoDiv img {
  width: 80px;
}

#logoDiv h1 {
  margin-left: 20px;
  font-size: 2.1rem;
  color: #f47621;
}

.active a {
  color: #5eb801 !important;
  font-weight: bold;
}

#navbar li a:link,
#navbar li a:visited {
  color: black;
  font-size: 1.3rem;
  transition: 0.3s;
}

#navbar li a:hover {
  color: #5eb801;
}

#navbar li a:active {
  color: gray;
}

#navbar li {
  margin-left: 25px;
}

#banner_home {
  background: url(../images/slon.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  position: relative;
}

#banner_critical {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/critically-endangered/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  position: relative;
}

#banner_vulnerable {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/vulnerable/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  position: relative;
}

#banner_endangered {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/endangered/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  position: relative;
}

#headline_home {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  text-align: center;
}

#headline_home h2 {
  font-size: 3.5rem;
  color: #f47621;
  -webkit-text-stroke: 1px black;
}

.headline button {
  margin-top: 15px;
  color: #f47621;
  border-radius: 15px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #f47621;
  transition: 0.5s;
}

.headline button:hover {
  border: 2px solid transparent;
}

.headline button:hover i {
  transform: translateY(5px);
  transition: 0.5s;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border: 3px solid #f47621;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #f47621;
  color: black;
}

.flip-card-back {
  background-color: white;
  color: #f47621;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.flip-card,
.flip-card-inner,
.flip-card-front,
.flip-card-back {
  border-radius: 20px;
}

.flip-card-front {
  overflow: hidden;
}

.flip-card-back a:link,
.flip-card-back a:visited {
  display: block;
  border: 3px solid #f47621;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 1.2rem;
  color: #f47621;
  font-weight: bold;
  text-decoration: none;
  transition: 300ms;
}

.flip-card-back a:hover {
  color: white;
  background: #f47621;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#cards img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#cards h3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  background: #f47621;
  margin: 0;
  padding: 10px 0px;
  color: white;
}

#cards p {
  font-size: 1.5rem;
}

#kinds {
  margin-top: 50px;
}

#kinds > h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

footer {
  background: #5eb801;
  margin-top: 50px;
  display: flex;
  padding: 15px 150px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#social {
  font-size: 20px;
}

#social i {
  margin-left: 20px;
  cursor: pointer;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

#intro {
  width: 60%;
  margin: 50px auto;
  font-size: 1.3rem;
}

#counterDiv {
  text-align: center;
  font-size: 2.3rem;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 70px;
  background: #f47621;
  justify-content: space-evenly;
}

#counterDiv .value {
  font-size: 4.3rem;
  font-weight: bold;
}

/* Critically Endangered Page */

.criticalBanner {
  height: 800px;
  position: relative;
  background: black;
  overflow: hidden;
}

#headline_critical {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#headline_critical h2 {
  font-size: 4rem;
  color: #f47621;
  -webkit-text-stroke: 1px black;
}

#critically-endangered {
  margin: 50px 150px;
}

#critically-endangered h2 {
  text-align: center;
  font-size: 2.5rem;
}

.left {
  text-align: center;
}

.left img {
  height: 400px;
}

.middle {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.right {
  margin-left: 15px;
  font-size: 1.2rem;
}

.characteristic {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.characteristic div:first-child {
  width: 50px;
  text-align: center;
}

.characteristic div:nth-child(2) {
  width: 150px;
  margin-left: 15px;
}

.characteristic p:last-child {
  font-weight: bold;
}

.characteristic i {
  font-size: 2.5rem;
  color: gray;
}

.characteristic p {
  margin: 0;
}

.species {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.species:nth-child(3) {
  flex-direction: row-reverse;
}

#submit {
  font-weight: bold;
}

#submit:hover {
  background: #f47621;
  color: white;
}

@media only screen and (max-width: 1999px) {
  .flip-card {
    margin-top: 30px;
  }

  #headline_home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

@media only screen and (max-width: 1300px) {
  .species {
    flex-direction: row !important;
    justify-content: center;
    flex-wrap: wrap;
  }

  .left {
    margin-bottom: 20px;
  }

  .middle {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 900px) {
  #intro {
    width: 85%;
  }

  footer {
    display: block;
    padding: 0 50px !important;
  }

  footer > div {
    margin: auto;
    text-align: center;
  }

  #banner_critical,
  #banner_endangered,
  #banner_vulnerable {
    height: 600px;
  }
}

@media only screen and (max-width: 700px) {
  #logoDiv img {
    width: 50px;
  }

  #logoDiv h1 {
    font-size: 1.6rem;
  }

  nav {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  #banner_home {
    background-position: center;
    height: 600px;
  }

  #banner_critical,
  #banner_endangered,
  #banner_vulnerable {
    height: 500px;
  }

  .right p {
    width: 500px;
  }

  #critically-endangered h2 {
    display: none;
  }

  .criticalBanner {
    height: 600px;
  }

  .criticalBanner img {
    transform: scaleX(-1);
  }
}

@media only screen and (max-width: 500px) {
  #counterDiv {
    font-size: 1.8rem;
  }

  #counterDiv .value {
    font-size: 3.5rem;
  }

  #banner_home {
    background-position: center;
    height: 500px;
  }

  #banner_critical,
  #banner_endangered,
  #banner_vulnerable {
    height: 400px;
  }

  .right p {
    width: 420px;
  }

  #headline_critical h2 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 420px) {
  #logoDiv img {
    width: 70px;
  }
  #logoDiv h1 {
    display: none;
  }

  .flip-card {
    width: 320px;
    height: 420px;
  }

  footer p {
    font-size: 1rem;
  }

  .right p {
    width: 320px;
  }
}
